body{
background-color: rgb(141, 172, 190) ; 
}

 h1{
color:rgb(0, 0, 0) ;
font-family: Georgia, 'Times New Roman', Times, serif ;
background: rgb(29, 29, 110) ;
}

p{
color: black ;
font-family: Verdana ;
font-size: 30px ; 
background: ;
}

