body{
background-color: whitesmoke ; 
}

 h1{
color:rgb(218, 83, 218) ;
font-family: Georgia, 'Times New Roman', Times, serif ;
background: whitesmoke ;
}

p{
color: black ;
font-family: ;
font-size: ;
background: ;
}

